@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bordeaux: rgba(128, 0, 0, 1);
    /* 100% opacity */
    --lighter-bordeaux: rgba(128, 0, 0, 0.4);
    /* Deep red/bordeaux color */
    --warm-beige: rgba(245, 245, 220, 1);
    /* 100% opacity */
    --charcoal-gray: rgba(58, 58, 58, 1);
    /* 100% opacity */
    --soft-cream: rgba(245, 241, 241, 0.7);
    /* 70% opacity */
    --slate-gray: rgba(138, 133, 133, 0.8);
    /* 80% opacity */
    --dark-grey: rgba(30, 30, 29, 0.9);
    /*5% opacity */
}

* {
    box-sizing: border-box;
    color: var(--charcoal-gray);
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    overflow-x: hidden;
}
#header,
footer {
    background-color: var(--charcoal-gray);
    width: 100%;
}
/* Navbar styling*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.navbar>a>img {
    margin-left: 3px;
    width: 150px;
}
/*btn styling*/
.nav-btn .btn-style,
.hidden-menu a,
.cta>.btn-style {
    background-color: var(--bordeaux);
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    margin-right: 3px;
    font-weight: 300;
    border-radius: 8px;
    color: rgb(255, 255, 255);
}

.nav-btn .btn-style:hover,
.hidden-menu a:hover,
.cta>.btn-style:hover {
    background-color: var(--dark-grey);
    color: var(--soft-cream);
}
/* List for smaller screens responsive*/
.list {
    text-align: right;
    position: relative;
    z-index: 10;
    color: var(--warm-beige);
    /* it is direct relative to the list class*/
}
/* Navigation container styling */
nav {
    position: absolute;
    /* nav is absolute to the list class*/
    width: 100%;
    right: 0;
    display: none;
    /* Initially hidden, shown when toggled */
}

/* Show nav menu when toggler is checked */
#nav-toggler:checked~nav {
    display: block;
    /*it allows the nav to scroll down*/
    max-width: 100%;
}

#nav-toggler {
    display: none;
    /*hides the toggler*/
}

/* Styling for the nav toggle label */
.nav-toggler-label {
    cursor: pointer;
    /*when the cursor hovers the icon*/
    font-size: 2rem;
    /* Large icon size for easy tapping */
    text-align: right;
}

.nav-toggler-label i {
    margin-right: 6px;
    color: var(--bordeaux);
}
/* Menu list styling */
#menu {
    letter-spacing: 4px;
    /* Adds spacing between letters */
    font-size: 80%;
    /* Slightly larger font */
    display: block;
    background-color: var(--dark-grey);
    font-weight: 500;
    letter-spacing: 8px;
}

/* Show menu with a slide-down effect when toggler is checked */
#nav-toggler:checked~#menu {
    max-height: 500px;
    /* Set a max height to make it slide down */
    display: block;
    width: 100%;
    background-color: var(--bordeaux);
    z-index: 20;
}

/* Individual menu item styling */
.active {
    border-bottom: 1px solid var(--bordeaux);
    padding-bottom: 4px;
}

.hidden-menu {
    display: none;
    /*hides the last child of the ul*/
}
/* Link styling within menu items */
#menu li a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 120%;
    line-height: 1.5rem;
    color: var(--warm-beige);
    text-align: center;
    font-family: "Gothic A1", sans-serif;
    z-index: 100;
}

/*footer styling*/

footer {
    background-color: var(--warm-beige);
    width: 100%;
    height: fit-content;
}

.footer-container {
    height: fit-content;
    width: 100%;
    padding: 20px;
}

.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}

.footer-nav div p {
    order: 3;
    color: var(--bordeaux);
}

.footer-nav ul {
    padding: 0;
    display: inline-flex;
    gap: 20px;
    color: var(--warm-beige);

}

.footer-nav ul li a {
    text-decoration: none;
    color: var(--charcoal-gray);
}

.fa-facebook-f,
.fa-google,
.fa-instagram {
    transition: color 0.2s;
}

.fa-facebook-f:hover {
    color: #3b5998;
}

.fa-google:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: pink;
}

footer p {
    text-align: center;
}

/* Hero section styling*/
#hero-section {
    height: 100%;
}

#hero-section>.section-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
    position: relative;
    height: 60vh;
}

.hero-box {
    position: absolute;
    z-index: 4;
}

.hero-text {
    color: var(--bordeaux);
    font-weight: 600;
    font-family: "Gothic A1", sans-serif;
}

.hero-text h1 {
    font-weight: 900;
    font-size: 200%;
}

p {
    color: var(--warm-beige);
    font-weight: 500;
    font-family: 'Urbanist', sans-serif;
}



.hero-img {
    width: 100%;
    height: 100%;
}

.hero-img>video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.section-wrapper .box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    text-align: center;
}

.box h2 {
    color: var(--charcoal-gray);
    margin-bottom: 20px;
    font-size: 160%;
    font-family: 'Urbanist', sans-serif;
}

.box p {
    color: (var(--charcoal-gray));
    font-size: 120%;
    font-family: 'Lato', sans-serif;
}

/* Gallery Section*/

.section-wrapper .gallery {
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping to a new row */
    gap: 1rem;
    /* Adds spacing between images */
    justify-content: center;
    align-items: center;
}

.gallery img {
    flex: 1 1 300px;
    /* Allows the image to grow and shrink, with a base width of 300px */
    max-width: 80%;
    height: 420px;
    border-radius: 9px;
}

.gallery img:hover {
    filter: grayscale(1);
}

/*events about section*/
.about-events h2 {
    text-align: center;
    margin-bottom: 20px;
    height: fit-content;
}

.events-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 7px;
    width: 100%;
    gap: 10px;
}

.events {
    border: 2px solid var(--dark-grey);
    border-radius: 7px;
    text-align: center;
}

.events h3 {
    color: var(--bordeaux)
}

.events p {
    color: var(--charcoal-gray);
}

/* Grid Section*/

.section-wrapper .row {
    background-color: var(--warm-beige);
}

.row {
    height: 100%;
}

.col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    max-height: 300px;
}

.card-content {
    display: flex;
    flex-direction: column;
    color: var(--bordeaux);
    text-align: center;
    line-height: 1rem;
    font-family: 'Urbanist', sans-serif;
}

.card-content h2 {
    font-size: 100%;
    font-weight: 700;
}

.card-content h3 {
    font-size: 110%;
}

.card-content p {
    color: var(--charcoal-gray);
    font-size: 100%;
    margin-bottom: 30px;
    line-height: 1.7rem;
    font-family: 'Lato', sans-serif;
}

.img-card {
    max-height: 300px;
    width: 100%;
}

/* Container-image Section"*/

.section-wrapper .container-img {
    background: url("../image/container-img.jpg") no-repeat left top/cover, linear-gradient(var(--warm-beige), var(--dark-grey));
    height: 30vh;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--charcoal-gray);
}

.container-img h3 {
    color: var(--bordeaux);
    font-weight: 700;
}

/*About section styling*/
.section-wrapper .about-section {
    margin: 0;
}

.section-wrapper,
.about-section .row .card-content .card-text {
    margin-bottom: 10px;
    font-size: 80%;
    max-width: 100%;
}

.section-wrapper,
.about-section .row .card-content {
    padding: 10px;
    font-size: 100%;
}

.about-section .col .img-card {
    max-width: 100%;
}

.about-container {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container .card-content {
    margin: auto 0;
}

/* Menu styling*/
.menu-section {
    text-align: center;
}

.menu-item h3 {
    font-size: 100%;
    color: var(--bordeaux);
}

.menu-item p {
    color: var(--charcoal-gray);
    font-size: 90%;
}

.description {
    margin-bottom: 8px;
}

/* Contact Us Section*/


.col iframe {
    height: 100%;
    width: 100%;
}

/* Booking Form*/
.section-wrapper #booking-form {
    width: 100%;
    height: 100%;
    text-align: center;
}

#booking-form {
    max-width: 400px;
    margin: 0 auto;
}

.section-wrapper #booking-form h2 {
    color: var(--bordeaux);
    /* Bordeaux color */
    margin-bottom: 10px;
    font-family: 'Cormorant Garamond', serif;
}

/* Form Label Styling */
#booking-form label {
    display: block;
    font-weight: bold;
    color: #3a3a3a;
    /* Dark greyish black */
    margin-top: 15px;
}

/* Input Field Styling */
#booking-form input[type="text"],
#booking-form input[type="email"],
#booking-form input[type="number"],
#booking-form input[type="date"],
#booking-form input[type="time"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--bordeaux);
    /* Bordeaux border */
    border-radius: 4px;
    background-color: var(--warm-beige);
    color: var(--dark-grey);
}

/* Submit Button Styling */
#booking-form input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: var(--bordeaux);
    /* Bordeaux background */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

#booking-form input[type="submit"]:hover {
    background-color: var(--bordeaux)
        /* Darker Bordeaux for hover */
}

/* Media queries : tables for larger ( 768px and up)*/

@media screen and (min-width:768px) {

    /*header*/

    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    /* Navbar layout settings */
    .navbar {
        padding: 20px;
        border: 0;
    }


    /* Logo image size */

    .navbar>a {
        margin-left: 3px;
        width: 200px;
    }

    .navbar>a>img {
        width: 100%;
    }

    .navbar>.nav-btn,
    .hidden-item {
        display: none;
        /* hide the button inside the name bar div*/
    }

    nav {
        display: block;
        position: relative;
        width: 100%;
    }

    .list {
        border: none;
    }

    #menu {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        background-color: transparent;
        letter-spacing: 6px;
    }

    #menu>li>a {
        margin-right: 20px;
        font-size: 90%;
        color: var(--warm-beige);
    }

    .hidden-menu {
        display: block;
        margin-right: 2px;

    }

    .nav-toggler-label {
        display: none;
    }

    .hidden-menu a {
        text-align: center;
        padding: 10px;
    }

    .nav-toggler-label {
        display: none;
    }

    /* box styling */
    .box {
        margin: 0 auto;
        width: 60%;
    }

    /*gallery*/

    .gallery {
        max-width: 100%;
    }

    .gallery img {
        flex: 1 1 100%;
        max-width: 30%;
        height: 470px;
        /* Slightly taller on smaller screens to match width */
        border-radius: 9px;
    }


    /*grid*/

    .col .img-card {
        height: 300px;
    }

    .footer-nav div {
        order: 2;
    }

    .section-wrapper .about-section {
        margin: 0;
    }
}


/* Media queries : tables for larger ( 992px and up)*/

@media screen and (min-width:992px) {

    /* Logo image size */
    .navbar a img {
        width: 190px;
        padding-left: 20px;
    }

    /*Navbar*/
    #menu li a {
        font-size: 140%;
    }

    #menu>li a:hover {
        border-bottom: 2px solid var(--bordeaux);
        /*had to be more specific*/
    }

    #menu>li .btn {
        border-bottom: 0 !important;
    }

    #hero-section .section-wrapper {
        height: 70vh;
    }

    /*hero box*/
    .hero-box {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 48%;
        background-color: var(--dark-grey);
        height: 100%;
    }

    .hero-text {
        text-align: left;
    }

    .hero-box h1 {
        font-size: 210%;
        font-weight: 900;
        line-height: 4rem;
    }

    .hero-box p {
        font-size: 140%;
        font-weight: 400;
    }

    /* cta button */
    .hero-text,
    .cta {
        padding: 10px;
        z-index: 5;
    }

    .hero-text,
    .cta a {
        font-size: 100%;
        z-index: 2;
    }

    /*Box Container*/

    .section-wrapper .box {
        height: 30vh;
        width: 50%;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30vh;
    }

    .row {
        height: 400px;
    }

    .col {
        min-height: 100%;
    }

    .img-card {
        min-height: 400px;
    }

    .col .card-content {
        margin: 0 40px;
        padding: 30px;
    }

    .card-content h2 {
        font-size: 160%;
    }

    .card-content h3 {
        font-size: 170%;
    }


    .section-wrapper,
    .about-section .row .card-content .card-text {
        padding: 0;
        font-size: 100%;
        margin-top: 20px;
    }

    .events-box {
        margin-bottom: 50px;
    }

    .events {
        display: row;
        width: 30%;
    }

    .events p {
        font-size: 140%;
    }

    .menu-item h3 {
        font-size: 160%;
    }

    .menu-item p {
        font-size: 140%;
    }

}

/* Media queries : tables for larger (1200px and up)*/

@media (min-width: 1200px) {

    #hero-section {
        height: 80vh;
    }

    h1 {
        font-size: 70px;
    }

    .section-wrapper .box {
        height: 30vh;
        width: 50%;
    }


    .box h2 {
        font-size: 170%;
    }

    .box p {
        font-size: 120%;
    }

    .row {
        height: 500px;
    }

    .col {
        min-height: 500px;
    }

    .img-card {
        min-height: 100%;
    }

    .col .card-content {
        margin: 0 40px;
        padding: 100px;
    }

    .card-content h2 {
        font-size: 160%;
    }

    .card-content h3 {
        font-size: 170%;
    }

    .card-content p {
        font-size: 150%;
        margin-bottom: 20px;
        line-height: 2rem;
        padding: 20px;
    }

    .menu-item h3 {
        font-size: 190%;
    }

}