@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Gothic+A1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bordeaux: rgba(128, 0, 0, 1);
    /* 100% opacity */
    --lighter-bordeaux: rgba(128, 0, 0,0.4); /* Deep red/bordeaux color */

    --warm-beige: rgba(245, 245, 220, 0.6);
    /* 100% opacity */
    --charcoal-gray: rgba(58, 58, 58,1 );
    /* 90% opacity */
    --soft-cream: rgba(245, 241, 241, 0.7);
    /* 80% opacity */
    --slate-gray: rgba(138, 133, 133, 0.8);
    /* 30% opacity */
    --dark-grey: rgba(30, 30, 29, 0.3);
    /*100% opacity */
    --mustard:rgba(255, 206,27,.5);





    /*fonts used*/

    ;--font-headings: font-family: 'Cormorant Garamond', serif;
    ;--font--sub-headings: font-family: "Gothic A1", sans-serif;
    ;--font--general--text: font-family: 'Manrope', sans-serif;

}

* {
    box-sizing: border-box;
    color: var(--charcoal-gray);
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#header,footer {
    background-color: var(--dark-grey);
    width: 100%;
}

/* Navbar styling*/
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar>a>img {
    margin-left: 3px;
    width: 150px;
}



/*btn styling*/
.nav-btn .btn-style,
.hidden-menu a,
.cta>.btn-style {
    background-color: var(--bordeaux);
    border-radius: 0;
    font-family: 'Lato', sans-serif;  
    margin-right: 3px;
    font-weight: 300;
    border-radius: 8px;
    opacity: .9;
    color: var(--soft-cream);


}

.nav-btn .btn-style:hover,
.hidden-menu a:hover,
.cta>.btn-style:hover {
    background-color: var(--dark-grey);
    color: var(--soft-cream);


}

/* List for smaller screens responsive*/
.list {
    text-align: right;
    position: relative;
    z-index: 10;
    color: var(--soft-cream);
    /* it is direct relative to the list class*/

}

/* Navigation container styling */

nav {
    position: absolute;
    /* nav is absolute to the list class*/
    width: 100%;
    right: 0;
    display: none;
    /* Initially hidden, shown when toggled */


}

/* Show nav menu when toggler is checked */
#nav-toggler:checked~nav {
    display: block;
    /*it allows the nav to scroll down*/
    max-width: 100%;


}

#nav-toggler {
    display: none;
    /*hides the toggler*/
}

/* Styling for the nav toggle label */
.nav-toggler-label {
    cursor: pointer;
    /*when the cursor hovers the icon*/
    font-size: 2rem;
    /* Large icon size for easy tapping */
    text-align: right;
}

.nav-toggler-label i {
    margin-right: 6px;
    color: var(--bordeaux);
}

/* Menu list styling */
#menu {
    letter-spacing: 4px;
    /* Adds spacing between letters */
    font-size: 80%;
    /* Slightly larger font */
    display: block;
    background-color: var(--charcoal-gray);
    font-family: var(--font--sub-headings);
    font-weight: 500;
    letter-spacing: 8px;
}

/* Show menu with a slide-down effect when toggler is checked */
#nav-toggler:checked~#menu {
    max-height: 500px;
    /* Set a max height to make it slide down */
    display: block;
    width: 100%;
    background-color: var(--bordeaux);
    z-index: 20;
}

/* Individual menu item styling */
.active {
    border-bottom: 1px solid var(--bordeaux);
    padding-bottom: 4px;
}

.hidden-menu {
    display: none;
    /*hides the last child of the ul*/
}

/* Link styling within menu items */
#menu li a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 120%;
    line-height: 1.5rem;
    color: var(--soft-cream);
    text-align: center;
    font-family: "Gothic A1", sans-serif;
    z-index: 100;

}

/* Hero section styling*/
#hero-section {
    height: 100%;
}

#hero-section>.section-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
    position: relative;
    height: 50vh;
}

.hero-box {
    position: absolute;
    z-index: 4;

}

.hero-text {
    color: var(--bordeaux);
    font-weight: 600;
    font-family: "Gothic A1", sans-serif;

}
.hero-text h1 {
    font-weight: 900;
    font-size: 200%;

}

p {
    color: var(--warm-beige);
    font-weight: 500;
    font-family: 'Urbanist', sans-serif;
}



.hero-img {
    width: 100%;
    height: 100%;
}

.hero-img>video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.section-wrapper .box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    text-align: center;
}

.box h2 {
    color: var(--charcoal-gray);
    margin-bottom: 20px;
    font-size: 160%;
    font-family:'Urbanist', sans-serif ;


}

.box p {
    color: var(--dark-grey);
    font-size: 120%;
    font-family: 'Lato', sans-serif;
}

/* Gallery Section*/

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping to a new row */
    gap: 1rem;
    /* Adds spacing between images */
    justify-content: center;
}

.gallery img {
    flex: 1 1 300px;
    /* Allows the image to grow and shrink, with a base width of 300px */
    max-width: 80%;
    height: 420px;
    border-radius: 9px;
}
.gallery img:hover{
    filter: grayscale(1);
}

    /* Grid Section*/

.section-wrapper .row{
    background-color: var(--warm-beige);
}
.row{
    height: 100%;
}
.col {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    max-height: 300px;


}
.card-content{
    display: flex;
    flex-direction: column;
    color: var(--bordeaux);
    text-align: center;
    line-height: 1rem;
    font-family: 'Urbanist', sans-serif;
}
.card-content h2{
    font-size: 100%;
}
.card-content h3{
    font-size: 110%;
}
.card-content p{
    color: var(--charcoal-gray);
    font-size: 105%;
    margin-bottom:30px;
    font-family: 'Lato', sans-serif;
}

.img-card {
    max-height: 300px;
    width: 100%;

}

/* Container-image Section"*/

.section-wrapper .container-img {
    background: url("../image/container-img.jpg") no-repeat left top/cover, linear-gradient(var(--warm-beige), var(--dark-grey));
    height: 30vh;
}
.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*footer styling*/

footer{
    background-color: var(--warm-beige);
    width: 100%;

}
.footer-container{
    height:fit-content;
    width: 100%;
    padding: 20px;


}
.footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;

}
.footer-nav div{
    order:3;
}

.footer-nav ul {
    padding: 0;
    display: inline-flex;
    gap: 20px;
    color: var(--warm-beige);

}
.footer-nav ul li a{
    text-decoration: none;
    color: var(--dark-grey);
}

.fa-facebook-f,
.fa-google,
.fa-instagram {
	transition: color 0.2s;
}

.fa-facebook-f:hover {
	color: #3b5998;
}

.fa-google:hover {
	color: #dd4b39;
}

.fa-instagram:hover {
	color: pink;
}

footer p {
	text-align: center;
}

/* Media queries : tables for larger ( 768px and up)*/

@media screen and (min-width:768px) {
    /*header*/

    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    /* Navbar layout settings */
    .navbar {
        padding: 20px;
        border: 0;
    }


    /* Logo image size */

    .navbar>a {
        margin-left: 3px;
        width: 200px;
    }

    .navbar>a>img {
        width: 100%;
    }

    .navbar>.nav-btn,
    .hidden-item {
        display: none;
        /* hide the button inside the name bar div*/
    }

    nav {
        display: block;
        position: relative;
        width: 100%;
    }

    .list {
        border: none;
    }

    #menu {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        background-color: transparent;
        letter-spacing: 6px;

    }

    #menu>li>a {
        margin-right: 20px;
        font-size: 90%;
        color: var(--warm-beige);
    }

    .hidden-menu {
        display: block;
        margin-right: 2px;

    }

    .nav-toggler-label {
        display: none;
    }

    .hidden-menu a {
        text-align: center;
        padding: 10px;

    }

    .nav-toggler-label {
        display: none;
    }

    /* box styling */
    .box {
        margin: 0 auto;
        width: 60%;
    }

    /*gallery*/
    .gallery{
        max-width: 100%;
    }
    .gallery img {
        flex: 1 1 100%;
        max-width: 30%;
        height: 470px;
        /* Slightly taller on smaller screens to match width */
        border-radius: 9px;
    }

    /*grid*/
    
    .col .img-card{
        height: 300px;
    }

    .footer-nav div{
        order:2;
    }

}

/* Media queries : tables for larger ( 992px and up)*/

@media screen and (min-width:992px) {

    /* Logo image size */
    .navbar a img {
        width: 220px;
        padding-left: 20px;
    }

    /*Navbar*/
    #menu li a {
        font-size: 140%;
    }

    #menu>li a:hover {
        border-bottom: 2px solid var(--bordeaux);
        /*had to be more specific*/
    }

    #menu>li .btn {
        border-bottom: 0 !important;


    }

    #hero-section .section-wrapper {
        height: 70vh;
    }

    /*hero box*/
    .hero-box {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        align-items: flex-start;
        width: 48%;
        background-color: var(--dark-grey);
    }

    .hero-text {
        text-align: left;
    }

    .hero-box h1 {
        font-size: 210%;
        font-weight: 900;
        line-height: 4rem;
    }

    .hero-box p {
        font-size: 140%;
        font-weight: 400;

    }
    /* cta button */
    .hero-text,
    .cta {
        padding: 10px;
        z-index: 5;

    }

    .hero-text,
    .cta a {
        font-size: 100%;
        z-index:2;
    }

    /*Box Container*/

    .section-wrapper .box {
        height: 40vh;
        width: 50%;
    }

    .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-wrapper .container-img {
    height: 60vh;
    }
  
}
/* Media queries : tables for larger (1200px and up)*/

@media (min-width: 1200px) {
    .row{
        height: 500px;
    }

    .col{
        min-height: 500px;
    }
    .img-card{
        min-height: 100%;
    }
    .card-content{
        margin: 0 40px;

    }
    .card-content h2{
        font-size: 150%;
    }

    .card-content h3{
        font-size: 170%;
    }

    .card-text {
        font-size: 160%;
        margin-bottom: 20px;
        line-height: 2rem;
        padding: 20px;
    }
}